ADMINS=12345678,12345677,12345676
BOT_TOKEN=123452345243:Adasfsfsf
ip=localhost
URL_APPLES = https://rozetka.com.ua/champion_a00225/p27223057/
URL_PEAR = https://freshmart.com.ua/product/yabloko-gala-116.html